.open-tab-bg_color {
  background: #ffffff;
  border-radius: 3px;
  padding: 10px;
}
.open-tab-container {
  padding: 8px;
  cursor: pointer;
}

.arrow-icon-container {
  border: 2px solid orange;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.tab-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-text {
  color: #1468ba;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.tabs-content-bg-color{
  background-color: #e5e5e5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
}
.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
  position: unset !important;
}